<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather app</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    
    <div class="container">

        <div class="header">

            <form action="/" method="post">

                <input type="text" placeholder="Enter your location ..." name="city">
                <button type="submit">Go</button>

            </form>

            <div class="header-title">
            <img src="/static/css/images/cloud-sun.svg" alt="logo" class="logo">
            <h2>Weather App</h2>
            </div>

        </div>

        <div class="main">

            {% if data %}

            <h1>{{data.name}}</h1>
            <img src="https://openweathermap.org/img/wn/{{data.weather[0].icon}}@2x.png">
            <h2>Weather description</h2>
            <p>{{data.weather[0].description}}</p>
            <h2>Temperature</h2>
            <p>{{data.main.temp}}</p>

            {% else %}

            <h1>Enter your search.</h1>

            {% endif %}

        </div>

    </div>
    
</body>
</html>